#IndexMainDiv .aside-nav li {
    height: 42px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23.6px;
    line-height: 42px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding:0;
    font-size: 20px;
}
#IndexMainDiv .aside-nav li{
    margin-top: 10px;
}
#IndexMainDiv .aside-nav li:last-child {
    margin-bottom: 10px;
}
#IndexMainDiv .aside-nav li:nth-child(1) {
    background: #53c5e8;
}
#IndexMainDiv .aside-nav li:nth-child(1):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(2) {
    background: #fe8c86;
}
#IndexMainDiv .aside-nav li:nth-child(2):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(3) {
    background: #8dddd0;
}
#IndexMainDiv .aside-nav li:nth-child(3):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(4) {
    background: #f6cd8d;
}
#IndexMainDiv .aside-nav li:nth-child(4):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(5) {
    background: #7adcab;
}
#IndexMainDiv .aside-nav li:nth-child(5):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(6) {
    background: #8ddfce;
}
#IndexMainDiv .aside-nav li:nth-child(6):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(7) {
    background: #58cff9;
}
#IndexMainDiv .aside-nav li:nth-child(7):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li:nth-child(8) {
    background: #8cdecc;
}
#IndexMainDiv .aside-nav li:nth-child(8):hover {
    opacity: 1;
    filter:alpha(opacity=100);
}
#IndexMainDiv .aside-nav li.current {
    opacity: 1!important;
    filter:alpha(opacity=100)!important;
    position: relative;
    background: #2fc6ff;
}
#IndexMainDiv .aside-nav .current:after {
    position:absolute;
    border-right:6px solid transparent;
    border-bottom:6px solid transparent;
    border-top:6px solid transparent;
    border-left:6px solid #2fc6ff;
    content:" ";
    display:block;
    width:0;
    height:0;
    top:40%;
    right: -12px;
}

/*toTop css*/
.totop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 104400;
    background: #0993d3 !important;
}
.totop a, .totop a:visited{
    display: block;
    width: 60px;
    height: 90px;
    color: #fff;
    font-size: 37px;
    text-align: center;
    line-height: 30px;
}
.totop a:hover {
    cursor: pointer;
    color: #eee;
    text-decoration: none;
}
.body{background-color: #FAFAFA;}